/* For Commenting    */

/* 
DarkRed:#b71c1c ;
LightterRed: #e53935;
light red:#ff5252;

 */

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }

body{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 20px;
}
.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom,rgba(126, 213, 111, 0.212),#28b485), url("../img/rhino.jpeg");
    background-size: cover;
    position: relative;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 500px, 0 100%);
    color:white;
}
.logo-box{
    position: absolute;
    top: 40px;
    left:40px;
}
.logo{
    height: 90px;
}
.heading-primary{
 color: white;
 text-transform: uppercase;
 backface-visibility: hidden;
 margin-bottom: 20px;
}
.heading-primary-main{
    display: block;
    font-size: 60PX;
    font-weight: 500;
    letter-spacing: 30px;

    animation: moveInLeft;
    animation-duration :3s;
}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 13px;

    animation-name: moveInRight;
    animation-duration :3s;
    animation-timing-function: ease-out;
}
.text-box{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50% );
    text-align: center;
}
 @keyframes moveInLeft {
     0%{
        opacity:0;
        transform: translateX(-100px);
     }
     80%{
        transform: translateX(20px)
     }
     100%{
        opacity: 1;
        transform: translateX(0px);
     }
 }
 @keyframes moveInRight {
    0%{
       opacity:0;
       transform: translateX(100px);
    }
    80%{
       transform: translateX(-20px)
    }
    100%{
       opacity: 1;
       transform: translateX(0px);
    }
}

.btn:link,
.btn:visited{
text-transform: uppercase;
text-decoration: none;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
btn:active{
    transform: translateY(2px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
.btn-white{
background-color: white;
color: #777;
padding: 10px 40px;
}

/*   styling card view */
.card-view{
    position: relative;
    margin: auto;
}
.card-view-list{
    position: absolute;
    top:10px;
    left:10%;
}
.card-view-list  li{
  list-style: none;
  display: inline-block;
    margin-left:30px;
  /* overflow code below prevents content from upper content shifting upward when list item doubles in size */
  overflow: hidden;
  border:1px solid #b3b3b3;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
}

.card-view-list  li:hover{
    overflow: hidden;
    transform: scale(1.15);
    transition: 0.5s;
    
  }
.card-image{
    width:300px;
}
.card-heading{
    display: block;
    letter-spacing: 5px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    color: #b3b3b3;
}
.card-sub-heading{
    font-weight: 100;
    display: block;
    color: #28b485;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}
.book-now{
    text-decoration: none;
    text-align: center;
    margin-top:10px;
    display: block;
   color: #28b485;
    
}
.exclusive-tours{
    margin-top: 550px;
    background-image: url("../img/exclusive.jpg");
    height:300px; 
    position: relative;
   
}
.exclusive-words{
    background-color: #28b485;
    position: absolute;
    text-align: center;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:40px;
    border: 1px solid  #28b485;
   border-radius: 7px;
    opacity: 0.8;
}
.sign-up{
    color:white;
    animation: heartbeat;
}

.corpyright{
    text-align: center;
    color:white;
    background-color: #28b485;
    font-weight: 100;
    margin-top: 20px;
    padding:50px;
}
